<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        
        <link rel="stylesheet" href="styles.css">
        <div class="logo"> </div>

        
    </head>
<body style="text-align:center">
<div class="container" style="height: 500px">

        <div class="center">
            <a href="/">Home</a>
    <h3>Authors in the library

        
        <table id="table" style="background-color: blanchedalmond;">
            <tr style="background-color: gainsboro;">
                <th class = "inp" >ID</th>

                <th class = "inp" >Name</th>
                <th class = "inp">Address</th>
                <th class = "inp">Date of Birth</th>
                <th class = "inp">Number of Books</th>
                <th class = "inp">ABN</th>
   
            </tr>
            <% for ( let i =0; i< authorsDb.length;i++){ %>
                <tr>
                    <td>
                        <%= authorsDb[i]._id %> 
                    </td>
                    <td>
                        <%= authorsDb[i].name.firstName %> <%= authorsDb[i].name.lastName %>
                    </td>
                    <td>
                        <%= authorsDb[i].address.unit %> <%= authorsDb[i].address.street %> ,<%= authorsDb[i].address.suburb %>, <%= authorsDb[i].address.state %>
                    </td>
                    <td>
                        <%= authorsDb[i].dob %>
                    </td>
                    <td>
                        <%= authorsDb[i].numBooks %>
                    </td>
                    <td>
                        <%= authorsDb[i].abn %>
                    </td>
                </tr>
                <% }%>
     </table>
     
    </h3>
    <a href = 'addauthor'>Add another author</a><br>
     <a href = 'updatebooknum'>Update author book numbers</a><br>
     <a href = 'deleteauthor'>Delete an author</a><br>
    </div>
</div>
</body>
</html>