
<div class="form-group">
    <label for="actorId">Actor</label>
    <select class="form-control" id="actorId" [(ngModel)]="actorId">
        <option *ngFor="let item of actorsDB"value={{item._id}} >{{item.name}}, {{item.bYear}}</option>
    </select>
    <label for="movieId">Movie</label>
    <select class="form-control" id="movieId" [(ngModel)]="movieId">
        <option *ngFor="let item of moviesDB" value={{item._id}}>{{item.title}}, {{item.year}}</option>
    </select>
</div>
<button *ngIf='!(actorId!=""&&movieId!="")' type="submit" class="btn btn-primary" disabled>Submit</button>
<button *ngIf='actorId!=""&&movieId!=""' type="submit" class="btn btn-primary" (click)="onAddActorToMovie()">Submit</button>
