Enter the Car Details:<br>
<input [(ngModel)]="make" placeholder='Make'/><br>
<input [(ngModel)]="model" placeholder='Model'/><br>
<input type="number"[(ngModel)]="year" placeholder='Year'/><br>
Build Type:
<select [(ngModel)]="bType">
  <option *ngFor="let item of bTypes" default>{{item}}</option>
</select><br>
<input [(ngModel)]="address" placeholder='Address'/>
State:
<select [(ngModel)]="state">
  <option *ngFor="let item of states" default>{{item}}</option>
</select>
<input  [(ngModel)]="postcode" placeholder='Postcode'/>


<br>
<button class='btn btn-success' (click)="newItem()">Add Car ({{data.length}})</button>
<button class='btn btn-warning' *ngIf='numOld()>0' (click)="deleteOld()">Delete {{numOld()}} Old Cars</button>
<button class='btn btn-dark'*ngIf='numOld()==0' disabled>Delete {{numOld()}} Old Cars</button>

<br>
View car type: 
<select [(ngModel)]="bTypeView">
  <option default>All</option>
  <option *ngFor="let item of bTypes" default>{{item}}</option>
</select><br>
<table class='table'>
  <tr>
    <th> # </th>

    <th> Make </th>
    <th> Model </th>
    <th> Year </th>
    <th> Build Type </th>
    <th> Address </th>
 
    <th> Delete? </th>



  </tr>
  <tr *ngFor="let item of filterView();let i = index">
    <td>{{i}}</td>
    <td>{{item.make}}</td>
    <td>{{item.model}}</td>
    <td>{{item.year}}</td>

    <td>{{item.bType}}</td>
    <td>{{item.address}} {{item.state}} {{item.postcode}}</td>
    <td><button class='btn btn-danger'(click)="delete(item.uid)">Delete</button></td>

  </tr>
</table>