<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <img src="logo.png" width = 200 height =200 href='/'>
    </head>
<body>

    <p>
        <a href = 'newemployee'>Add a new employee</a>
    </p>
    <p>
        <a href = 'listemployees'>List employees</a>
    </p>
</body>
